@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-900 dark:text-white;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  
  .twitter-verified {
    width: 40px;
    height: 40px;
    background-image: url('/twitter.svg');
  }
}